##
## Makefile Env vars
##
    # Build Env vars
    APP_NAME="api"

##
## Node Env vars
##
    # Postgres Env vars
    PG_USER="postgres"
    PG_PASSWORD="postgres"
    PG_HOST="localhost"
    PG_PORT="5432"

    # Redis Env vars
    REDIS_HOST="localhost"
    REDIS_PORT="6379"

##
## FusionAuth Env vars
##
    DATABASE_USERNAME=fusionauth
    DATABASE_PASSWORD=hkaLBM3RVnyYeYeqE3WI1w2e4Avpy0Wd5O3s3
    FUSIONAUTH_APP_MEMORY=512M
    FUSIONAUTH_APP_RUNTIME_MODE=development
    OPENSEARCH_JAVA_OPTS="-Xms512m -Xmx512m"
    POSTGRES_USER=postgres
    POSTGRES_PASSWORD=postgres